@using WebProje.Models
@model List<Musteri1>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Müşteri Listesi</h3>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Adı</th>
                                            <th>Soyadı</th>
                                            <th>Email</th>
                                            <th>Telefon</th>
                                            <th>Adres</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>@item.Id</td>
                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>@item.EMail</td>
                                                <td>@item.Telefon</td>
                                                <td>@item.Adres</td>
                                                
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

            </div>
    </section>
</div>
