
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


@Html.Action("BannerSlider")

@Html.Action("Ozellik")

@Html.Action("ContainerShop")

<section id="banner" class="section-m1">
    <h2> Bütün ürünlerde <span>%30'a </span>varan indirim!</h2>
    <button class="normal">Daha Fazlasını Keşfet</button>

</section>


@Html.Action("ContainerShop1")



@Html.Action("BannerTable")


@Html.Action("BottomBanner")




